@import url('https://fonts.googleapis.com/css2?familiy=Montserrat&display=swap');

header {
    background-color:darkcyan;
    padding: 1rem 1rem;
    font-size: 0.5rem;
    text-align: left;
    color: whitesmoke;

}

body{
    padding: 1rem 1rem;
}

.email{
display: table-cell;
vertical-align: middle;
}

#borde{
border-style: ridge;
border-color:grey;
border-radius: 1%;
border-width: 2px;
}

#logo_redes{
float: right;
margin-top: -2rem;
padding-right: 4rem;
}

#titulo_redes{
font-size: 15px;
font-family:Arial, Helvetica, sans-serif;
font-weight: normal;
}

.btn_login{
    color: #66ff00;
    background: transparent;
    border: 2px solid #66ff00;
    border-radius: 6px;
    float: right;
    margin-top: -2rem;
    }

.btn_login:hover {
        background-color: #008CBA;
        color: white;
   }

#img_portada{
    padding-top: 1rem;
    width: 100%;
    height: 300px;
                }

#img_portadaFP{
    width: 100px;
    border-radius: 45%;
    margin-left: 3rem;
    margin-top: -5rem;
        }
        
.presentacion{
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    border: #222 1000px;
        }
#logoUBA{
    width: 300px;
    float: right;
    padding-right: 16rem;
    margin-top: -10rem;
        }
        
#pLogoUBA{
    float: right;
    padding-right: 2.5rem;
    margin-top: -9.5rem;
            }

#logo_san_andres{
    width: 100px;
            }


.antecedentes{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 1rem;
}

#experiencia{
    margin-bottom: 25px;
}

#educacion{
    margin-bottom: 2px;
}

#educacion1{
    margin-top: 2px;
}

.icono_lapiz{
    padding-right: 3rem;
    color: black;
}

.icono_tacho{
    color: black;
}

.icono_suma{
    color: black;
}

#logoHB{
    width: 65px;
    }

#logoEY{
    width: 40px;
}

